/* 
Written by : Keyur Patel 
*/

.contact_content{
    margin-top: 3.5%;
    margin-left: 3.5%;
    text-align: center;
  
}
table{
    margin-left: 28%;
}
.table,th,td{
    
    border : 2px solid black ;
    border-collapse: collapse;
    text-align: center;
}
thead{
    background-color:#A9AF7E;
}
.edit_contact{
    text-align: center;
}